@model Airborn.web.Models.Continent

@{
    ViewData["Title"] = @Model.ContinentName;
}

<br />
<div class="hero-banner">
    <h2>Every airport in @ViewData["TotalAirportCount"] of 'em!)</h2>
</div>

<div class="content">
    <br />
    <a href="@Url.Action("Continents", "Airports")">Back to all continents</a>

    <h2>Countries:</h2>
    <ul>
        @foreach (var country in Model.Countries)
        {
            <li>
                <td><a href="@Url.Action("Country", "Airports", new { slug = country.Slug })">@country.CountryName</a></td>
            </li>
        }
    </ul>
</div>