@model Airborn.web.Models.Airport

@{
    ViewData["Title"] = Model.Ident + " - " + Model.Name + " | Airborn.co";
}

<br />

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div class="p-4 bg-light border rounded-3">
            <h2>
                <b><i>@Html.DisplayFor(model => model.Ident): @Html.DisplayFor(model => model.Name)</i></b> is an
                airport in Airborn.co's Airports & Runways database.

                <p class="fs-5">Airborn.co uses this information to <a asp-controller="Home"
                        asp-action="Calculate">calculate takeoff and landing distances.</a></p>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h4 class="display-4">
    </h4>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ident)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location),
            @Html.DisplayFor(model => model.Country_Formatted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FieldElevation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FieldElevationAsDistance.TotalFeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type_Friendly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type_Friendly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MagneticVariation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MagneticVariation)
        </dd>
    </dl>
</div>
@*
<div>
@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
<a asp-action="Index">Back to List</a>
</div>
*@


<table class="table">
    <thead>
        <tr>
            <th>
                Runway Name
            </th>
            <th>
                Runway Length
            </th>
            <th>
                Displaced Threshold (ft)
            </th>
            <th>
                Runway Heading (°T)
            </th>
            <th>
                Runway Heading (°M)
            </th>
            <th>
                Slope
            </th>
            <th>
                Surface
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsableRunways)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Runway_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunwayLengthFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplacedThreshold_Formatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runway_HeadingTrue_Formatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runway_HeadingMagnetic_Formatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slope_Formatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surface)
                </td>
            </tr>
        }
    </tbody>
</table>