@model Airborn.web.Models.Region

@{
    ViewData["Title"] = @Model.Name;
}

<div class="hero-banner">
    <h2>Every airport in @Model.Name, @Model.Country.CountryName (@Model.Airports.Count of 'em!)</h2>
</div>

<div class="content">
    <div>
        <a href="@Url.Action("Country", "Airports", new { slug = Model.Country.Slug} )">Back to
            @Model.Country.CountryName</a>
    </div>

    <br />

    <ul>
        @foreach (var airport in Model.Airports.OrderBy(a => a.Name))
        {
            if (airport != null && !string.IsNullOrEmpty(airport.Ident))
            {
                <li>
                    <a href="@Url.RouteUrl("Airport", new { ident = airport.Ident })">@airport.Name</a>
                </li>
            }
            else
            {
                <li>@airport.Name </li>
            }
        }
    </ul>
</div>