@using Airborn.web.Models
@model ScenarioPageModel

@{
    ViewData["Title"] = "Takeoff and Landing Calculator";
}

<br />

<form asp-action="Calculate" method="post" clas="form-inline">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <h5>Tell Us About Your Flight</h5>
    <br/>
     <div class="form-group row g-3 align-items-center">
        <label asp-for="ScenarioType" class="col-sm-2 col-form-label">Scenario</label>
        <div class="col-sm-2">
            <select asp-for="ScenarioType" class="form-control" >
                <option value="Takeoff">Takeoff</option>
                <option value="Landing">Landing</option>
            </select>
        </div>
        <div class="col-sm-1">
        </div>        
        <label asp-for="AircraftType" class="col-sm-2 col-form-label">Aircraft Type</label>
        <div class="col-sm-2">
            <select asp-for="AircraftType" class="form-control" >
                <option value="SR22_G2">Cirrus SR22  G2</option>
            </select>
        </div>        
    </div>
 
    <div class="form-group row g-3 align-items-center">
        <label asp-for="RunwayHeading" class="col-sm-2 col-form-label">Runway Heading</label>
        <div class="col-sm-2">
            <input asp-for="RunwayHeading" class="form-control" maxlength="10" C
            data-val-required="Runway Heading is required"/>
        </div>
        <div class="col-sm-1">
            °M
        </div>             
        <label asp-for="FieldElevation" class="col-sm-2 col-form-label">Field Elevation</label>
        <div class="col-sm-2">
            <input asp-for="FieldElevation" class="form-control" maxlength="10" />
        </div>
        <div class="col-sm-1">
            ft
        </div>
    </div>
    <div class="form-group row g-3 align-items-center">       
       <label asp-for="RunwayLength" class="col-sm-2 col-form-label">Runway Length</label>
        <div class="col-sm-2">
            <input asp-for="RunwayLength" class="form-control" maxlength="10" />
        </div>
        <div class="col-sm-1">
            ft
        </div>        
        <label asp-for="MagneticVariation" class="col-sm-2 col-form-label">Magnetic Variation</label>
        <div class="col-sm-2">
            <input asp-for="MagneticVariation" class="form-control" maxlength="10" />
        </div>
    </div>    
    <div class="form-group row g-3 align-items-center">
        <label asp-for="WindDirectionMagnetic" class="col-sm-2 col-form-label">Wind Direction</label>
        <div class="col-sm-2">
            <input asp-for="WindDirectionMagnetic" class="form-control" maxlength="10" />
        </div>
        <div class="col-sm-1">
            °M
        </div>                  
        <label asp-for="WindStrength" class="col-sm-2 col-form-label">Wind Strength</label>
        <div class="col-sm-2">
            <input asp-for="WindStrength" class="form-control" maxlength="10" />
        </div>
        <div class="col-sm-1">
            kts
        </div>                
    </div>
    <div class="form-group row g-3 align-items-center">
        <label asp-for="TemperatureCelcius" class="col-sm-2 col-form-label">Temperature</label>
        <div class="col-sm-2">
            <input asp-for="TemperatureCelcius" class="form-control" maxlength="10" />
        </div>
        <div class="col-sm-1">
            °C
        </div>             
        <label asp-for="QNH" class="col-sm-2 col-form-label">QNH</label>
        <div class="col-sm-2">
            <input asp-for="QNH" class="form-control" maxlength="10" value="1013" />
        </div>
        <div class="col-sm-1">
            hPa
        </div>           
    </div>

    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <br />

    <h5>Our Calculations</h5>
    <br/>

    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-2">
            Ground Roll:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Distance_GroundRoll, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>           
        <div class="col-sm-2">
            50' Obstacle:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Distance_Clear50Ft, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>
    </div>

    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-2">
            Ground Roll<br/>% Runway Used:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.PercentageRunwayUsed_GroundRoll, "{0:p0}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>            
        <div class="col-sm-2">
            50' Obsctacle<br />% Runway Used:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.PercentageRunwayUsed_DistanceToClear50Ft, "{0:p0}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>
    </div>

    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-2">
            Crosswind Component:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.CrosswindComponent, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            kts
        </div>           
        <div class="col-sm-2">
            Headwind Component:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.HeadwindComponent, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            kts
        </div>
    </div>


    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-2">
            Pressure Altitude:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.PressureAltitude, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>            
        <div class="col-sm-2">
            Density Altitude:
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.DensityAltitude, "{0:0.00}", new { @readonly="readonly", @class="form-control" })
        </div>
        <div class="col-sm-1">
            ft
        </div>
    </div>

</form>

<br />