@using Airborn.web.Models
@model CalculatePageModel

@{
    ViewData["Title"] = "Free takeoff and landing distance calculator: C172, SR22, SR22T | Airborn.co";
}

<br />

<form asp-action="Calculate" method="post" class="form-horizontal">

    <br />
    <h4><b>Airborn is a free takeoff and landing distance calculator.</b>
        <br />Tell us your about your flight, and we'll show you takeoff and landing distance for each runway.
    </h4>

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />

    <div>
        <h6>The flight</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AirportIdentifier" class="form-control" autocomplete="off" id="AirportIdentifier"
                    placeholder="Airport Identifier" />
                <label for="AirportIdentifier">Start typing airport name...</label>
                <span asp-validation-for="AirportIdentifier" class="text-danger"></span>
            </div>
        </div>

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('#AirportIdentifier').autocomplete({
                        source: '/Home/AutocompleteAirportIdentifier',
                        minLength: 2
                    });
                });
            </script>
        }
        <div class="col-sm-3">
            <div class="form-floating">

                <select asp-for="AircraftType" class="form-select">
                    <option value="SR22_G2">Cirrus SR22 G2</option>
                    <option value="SR22T_G5">Cirrus SR22T G5</option>
                    <option value="C172_SP">Cessna 172SP</option>
                </select>
                <label for="AircraftType">Aircraft type</label>
                <span asp-validation-for="AircraftType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AircraftWeight" class="form-control" maxlength="10" placeholder="Aircraft weight" />
                <label for="AircraftWeight">Aircraft weight (lbs)</label>
                <span asp-validation-for="AircraftWeight" class="text-danger"></span>
            </div>
        </div>

    </div>

    <br />
    <div>
        <h6>The weather</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindDirectionMagnetic" class="form-control" maxlength="3"
                    placeholder="Wind direction °M" />
                <label asp-for="WindDirectionMagnetic">Wind direction °M</label>
                <span asp-validation-for="WindDirectionMagnetic" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindStrength" class="form-control" placeholder="Wind strength (kts)" maxlength="3" />
                <label asp-for="WindStrength">Wind strength (kts)</label>
                <span asp-validation-for="WindStrength" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="Temperature" class="form-control" placeholder="Temperature" maxlength="3" />
                <label asp-for="Temperature">Temperature</label>
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="TemperatureType" class="form-control">
                    <option value="C">°C</option>
                    <option value="F">°F</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="AltimeterSetting" class="form-control" maxlength="5" placeholder="Altimeter setting" />
                <label asp-for="AltimeterSetting">Altimeter setting</label>
                <span asp-validation-for="AltimeterSetting" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="AltimeterSettingType" class="form-control">
                    <option value="HPA">hPa</option>
                    <option value="HG">Hg</option>
                </select>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" style="width: 100%" class="btn btn-primary btn-lg">Calculate Performance</button>
        </div>

    </div>

    <br />


    @if (Model is not null && Model.Results.Count > 0)
    {
        <div>
            <div class="form-group row">
                <h5>@Model.Airport?.Name</h5>
                <div>
                    Field elevation: @Model.Airport?.FieldElevation ft
                    <br />
                    Pressure altitude: @Model.PressureAltitude?.ToString("#,##") ft
                    <br />
                    Density altitude: @Model.DensityAltitude?.ToString("#,##") ft
                </div>
            </div>
        </div>
        <br />
    }


    @if (Model.Notes != null && Model.Notes.Count != 0)
    {
        <div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <b>Notes</b>
                    <ul>

                        @foreach (string note in Model.Notes)
                        {
                            <li>
                                @note
                            </li>
                        }
                    </ul>
                    <br />
                </div>
            </div>
        </div>

    }

    @foreach (PerformanceCalculationResultPageModel result in Model?.ResultsSortedByHeadwind)
    {
        <div>
            <div class="form-group row">
                <h6>Runway @result.Runway.Runway_Name</h6>
            </div>

            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Runway.RunwayLengthFriendly" />
                        <label>Runway length</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Runway.Surface_Friendly_Output" />
                        <label>Runway surface</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Runway.RunwayHeadingMagneticConverted" />
                        <label>Runway heading</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.WindFormatted" />
                        <label>Wind</label>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Takeoff_Groundroll_Formatted" />
                        <label>Takeoff: Ground roll</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Takeoff_50FtClearance_Formatted" />
                        <label>Takeoff: 50' obstacle</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Landing_Groundroll_Formatted" />
                        <label>Landing: ground roll</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Landing_50FtClearance_Formatted" />
                        <label>Landing: 50' obstacle</label>
                    </div>
                </div>
            </div>

        </div>
        <br />
    }





</form>

<br />