@using Airborn.web.Models
@model CalculatePageModel

@{
    ViewData["Title"] = "Airborn.co | A free takeoff and landing distance calculator for SR22, SR22T, and Cessna 172";
}

<br />

<div class="jumbotron">
    <h1 class="display-4"><b><i>Airborn.co</i></b> is a free takeoff and landing distance calculator for small piston
        airplanes.</h1>
    <p class="lead">Tell us your about your flight, and we'll provide takeoff and landing distances and other useful
        information for
        each runway at your airport. This is an open-source project, if
        you want to contribute check out <a href="https://github.com/alexjcampbell/Airborn" target="_blank">our
            Github</a> or <a asp-area="" asp-controller="Home" asp-action="About">get in touch</a>.</p>
    <hr class="my-4">
</div>

<form asp-action="Calculate" method="post" class="form-horizontal">

    <br />
    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {

        <div class="alert alert-danger" role="alert">
            <strong>Oh oh!</strong> It looks like you missed a few fields that we need to calculate your
            performance information.
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <br />
    }

    <div>
        <h6>The flight</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AirportIdentifier" class="form-control" autocomplete="off" id="AirportIdentifier"
                    placeholder="Airport Identifier" maxlength="4" />
                <label for="AirportIdentifier">Airport identifier (ICAO)</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="AirportIdentifier" class="text-danger"></span>
                </div>
            </div>
        </div>

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('#AirportIdentifier').autocomplete({
                        source: '/Home/AutocompleteAirportIdentifier',
                        minLength: 2
                    });
                    $('#AircraftType').on('change', function () {
                        var aircraftType = $(this).val();

                        $.ajax({
                            url: '/Home/GetAircraftMaxGrossWeight',
                            data: { aircraftType: aircraftType },
                            type: 'GET',
                            success: function (data) {
                                $('#AircraftWeight').val(data);
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                    });
                });           
            </script>
        }
        <div class="col-sm-3">
            <div class="form-floating">

                <select asp-for="AircraftType" asp-items="Html.GetEnumSelectList<AircraftType>()" class="form-select">
                </select>
                <label for="AircraftType">Aircraft type</label>
                <span asp-validation-for="AircraftType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AircraftWeight" class="form-control" maxlength="4" placeholder="Aircraft weight"
                    value="3400" />
                <label for="AircraftWeight">Aircraft weight (lbs)</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="AircraftWeight" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-floating">

                <select asp-for="AirconOption" asp-items="Html.GetEnumSelectList<AirconOptions>()" class="form-select">
                </select>
                <label for="AirconOption">Aircon</label>
                <span asp-validation-for="AirconOption" class="text-danger"></span>
            </div>
        </div>

    </div>

    <br />
    <div>
        <h6>The weather</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindDirectionMagnetic" class="form-control" maxlength="3"
                    placeholder="Wind direction °M" />
                <label asp-for="WindDirectionMagnetic">Wind direction °M</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="WindDirectionMagnetic" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindStrength" class="form-control" placeholder="Wind strength (kts)" maxlength="3" />
                <label asp-for="WindStrength">Wind strength (kts)</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="WindStrength" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="Temperature" class="form-control" placeholder="Temperature" maxlength="3" />
                <label asp-for="Temperature">Temperature</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="Temperature" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="TemperatureType"
                    asp-items="Html.GetEnumSelectList<TemperatureType>()" class="form-control" class="form-control">
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="AltimeterSetting" class="form-control" maxlength="5" placeholder="Altimeter setting" />
                <label asp-for="AltimeterSetting">Altimeter setting</label>
                <div class="invalid-feedback" style="display:block;">
                    <span asp-validation-for="AltimeterSetting" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="AltimeterSettingType"
                    asp-items="Html.GetEnumSelectList<AltimeterSettingType>()" class="form-control">
                </select>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group row">
        <div class="col-sm-3">
            <button type="submit" style="width: 100%" class="btn btn-primary btn-lg">Calculate Performance</button>
        </div>
        <div class="col-sm-9"></div>
    </div>


    @if (Model is not null && Model.Results.Count > 0)
    {
        <hr class="my-4">

        <div class="form-group row">
            <div class="col-sm-10 p-3">
                <div class="form-floating">
                    <h5>@Model.Airport?.Name</h5>
                </div>
            </div>
            <div class="col-sm-1 p-3">
                &nbsp;
            </div>
            <div class="col-sm-1 p-3">

                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#primaryCalculationModal">Details</button>

                <!-- Modal -->
                <div class="modal fade" id="primaryCalculationModal" tabindex="-1" aria-labelledby="airportCalculationModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="airportCalculationModal">Calculations (advanced)</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    @foreach (PerformanceCalculationLogItem logline in Model?.Logger)
                                    {
                                        <li>
                                            <h5 class="mb-1">
                                                @logline
                                            </h5>
                                            <ul>

                                                @foreach (PerformanceCalculationLogItem subLogline in logline.SubItems)
                                                {
                                                    <li>
                                                        <h6 class="mb-1">@subLogline</h6>


                                                        <ul>
                                                            @foreach (PerformanceCalculationLogItem subSubLogline in
                                                           subLogline.SubItems)
                                                            {
                                                                <li>
                                                                    @subSubLogline

                                                                    <ul>
                                                                        @foreach (PerformanceCalculationLogItem subSubSubLogline in
                                                                       subSubLogline.SubItems)
                                                                        {
                                                                            <li>
                                                                                @subSubSubLogline
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                            <hr />
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly asp-for="@Model.FieldElevation" />
                    <label>Field elevation (ft)</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly asp-for="@Model.PressureAltitude" />
                    <label>Pressure altitude (ft)</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly asp-for="@Model.DensityAltitude" />
                    <label>
                        Density altitude (ft)
                    </label>
                </div>
            </div>
        </div>


        <br />
    }


    @if (Model.Notes != null && Model.Notes.Count != 0)
    {
        <div class="form-group row">
            <div class="col-sm-12">

                @foreach (string note in Model.Notes)
                {
                    <div class="alert alert-warning" role="alert">
                        @note
                    </div>
                }

                <br />
            </div>
        </div>

    }

    @foreach (CalculationResultForRunwayPageModel result in Model?.ResultsSortedByHeadwind)
    {
        <div class="form-group row">
            <div class="col-sm-10 p-3">
                <h6>Runway @result.Runway.Runway_Name
                    @if (result.IsBestWind)
                    {
                        <span class="badge bg-success">(Best wind)</span>
                    }
                </h6>
            </div>
            <div class="col-sm-1 p-3">
                &nbsp;
            </div>
            <div class="col-sm-1 p-3">

                <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#runwayModal_@result.Runway.Runway_Name">Details</button>

                <!-- Modal -->
                <div class="modal fade" id="runwayModal_@result.Runway.Runway_Name" tabindex="-1"
                    aria-labelledby="runwayCalculationModal_@result.Runway.Runway_Name" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="runwayCalculationModal_@result.Runway.Runway_Name">
                                    Calculations (advanced)</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    @foreach (PerformanceCalculationLogItem logline in result.LogItem.SubItems)
                                    {
                                        <li>
                                            <h5 class="mb-1">
                                                @logline
                                            </h5>
                                            <ul>

                                                @foreach (PerformanceCalculationLogItem subLogline in logline.SubItems)
                                                {
                                                    <li>
                                                        <h6 class="mb-1">@subLogline</h6>


                                                        <ul>
                                                            @foreach (PerformanceCalculationLogItem subSubLogline in
                                                           subLogline.SubItems)
                                                            {
                                                                <li>
                                                                    @subSubLogline

                                                                    <ul>
                                                                        @foreach (PerformanceCalculationLogItem subSubSubLogline in
                                                                       subSubLogline.SubItems)
                                                                        {
                                                                            <li>
                                                                                @subSubSubLogline
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                            <hr />
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="form-group row">

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Runway.Surface" />
                    <label>Runway surface</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Slope_Formatted" />
                    <label>Slope</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly
                        value="@result.Runway.RunwayHeadingMagneticConverted" />
                    <label>Runway heading</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Wind_Formatted" />
                    <label>Wind</label>
                </div>
            </div>

        </div>
        <br />

        <div class="form-group row">

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Runway.RunwayLengthFriendly" />
                    <label>&#128747; Available takeoff distance</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Takeoff_Groundroll_Formatted" />
                    <label>Takeoff ground roll</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Takeoff_50FtClearance_Formatted" />
                    <label>Takeoff distance to clear 50' obstacle</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="N/A" />
                    <label>Displaced threshold</label>
                </div>
            </div>
        </div>


        <br />

        <div class="form-group row">

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly
                        value="@result.Runway.LandingAvailableLength_Formatted" />
                    <label>&#128748; Available landing distance</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Landing_Groundroll_Formatted" />
                    <label>Landing ground roll</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly value="@result.Landing_50FtClearance_Formatted" />
                    <label>Landing distance to clear 50' obstacle</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-floating">
                    <input class="form-control" maxlength="10" readonly
                        value="@result.Runway.DisplacedThreshold_Formatted" />
                    <label>Displaced threshold</label>
                </div>
            </div>
        </div>

        <br />
    }

    @if (Model is not null && Model.Results.Count > 0)
    {
        <hr class="my-4">
    }


</form>

<br />