@using Airborn.web.Models
@model ScenarioPageModel

@{
    ViewData["Title"] = "Free takeoff and landing distance calculator: C172, SR22, SR22T | Airborn.co";
}

<br />

<form asp-action="Calculate" method="post" clas="form-inline">

     <div class="form-group row g-3 align-items-center">
        <div class="col-sm-12">
            <br />
            <h4><b>Airborn</b> is a free takeoff and landing distance calculator</h4>
            <br />
            Calculate how much runway would be required to take off or land, based on the given aircraft type, runway, and weather.
            <br />
        </div>
    </div>

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <br />
    <h5>Your flight</h5>
    <br />
     <div class="form-group row g-3 align-items-center">
        <label asp-for="AircraftType" class="col-sm-2 col-form-label col-form-label-sm">Aircraft Type: *</label>
        <div class="col-sm-2">
            <select asp-for="AircraftType" class="form-control form-control-sm" >
                <option value="SR22_G2">Cirrus SR22 G2</option>
                <option value="SR22T_G5">Cirrus SR22T G5</option>
                <option value="C172_SP">Cessna 172SP</option>
            </select>
        </div>        

        <div class="col-sm-1">
        </div>        

        <label asp-for="AircraftWeight" class="col-sm-2 col-form-label col-form-label-sm">Aircraft Weight: *</label>
        <div class="col-sm-2">
            <input asp-for="AircraftWeight" class="form-control form-control-sm" maxlength="10" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">lbs</label>      
    </div>

     <div class="form-group row g-3 align-items-center">
        <label asp-for="AirportIdentifier" class="col-sm-2 col-form-label col-form-label-sm">Airport: </label>
        <div class="col-sm-2">
            <input asp-for="AirportIdentifier" class="form-control form-control-sm" autocomplete="off" id="AirportIdentifier"/>
        </div>

        <div class="col-sm-1">
        </div>        
        <label asp-for="RunwayIdentifier" class="col-sm-2 col-form-label col-form-label-sm">Runway: </label>
        <div class="col-sm-2">
            <select asp-for="RunwayIdentifier" class="form-control form-control-sm" >
                @foreach (Runway runway in Model?.Runways) 
                    {<option value="@runway.RunwayIdentifier_Primary">@runway.RunwayIdentifier_Primary</option>
                    <option value="@runway.RunwayIdentifier_Secondary">@runway.RunwayIdentifier_Secondary</option>}
                
            </select>
        </div>       

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('#AirportIdentifier').autocomplete({
                        source: '/Home/AutocompleteAirportIdentifier',
                        minLength: 2,
                        select: function (event, ui) {

                        $.ajax({  
                            type: "POST",  
                            url: "/Home/PopulateRunways?airportIdentifier=" + ui.item.label,  
                            data: "{}",  
                            success: function (data) {  
                                var s = '<option value="-1">Select...</option>';  
                                for (var i = 0; i < data.length; i++) {  
                                    s += '<option value="' + data[i].label + '">' + data[i].label + '</option>';  
                                }  
                                $("#RunwayIdentifier").html(s);  

                            $.ajax({  
                                type: "POST",  
                                url: "/Home/GetAirportInformation?airportIdentifier=" + ui.item.label,  
                                data: "{}",  
                                success: function (data) {  
                                    $("#FieldElevation").val(data.fieldElevation);  
                                }  
                            });   


                            }  
                        });                             

                            //If you want to do something on the select event, you may do it here
                            //$("#tags").html(ui.item.label);
                        }
                    });

                    $('#RunwayIdentifier').on('change', function() {               
                        if ($("#RunwayIdentifier").val() != -1) {                                
                            $.ajax({
                                url: '/Home/GetRunwayDetail?airportIdentifier=' + $('#AirportIdentifier').val() + "&runwayId=" + $(this).val(),
                                type: 'POST',
                                success: function (response){                      
 
                                    $("#RunwayLength").val(response.runwayLength.valueOf());
                                    
                                    if($("#RunwayIdentifier option:selected").val() == response.runwayIdentifier_Primary.valueOf() )
                                    {
                                        $("#RunwayHeading").val(response.runwayIdentifier_Primary.valueOf().substring(0,2) * 10);
                                    }
                                    else
                                    {
                                        $("#RunwayHeading").val(response.runwayIdentifier_Secondary.valueOf().substring(0,2) * 10);
                                    }

                                },
                                error: function (xhr) {
                                    alert("Something went wrong, please try again");
                                }
                            });
                        }

                    });
                });
            </script>
        }         
    </div>    
 
    <div class="form-group row g-3 align-items-center">    
        <label asp-for="FieldElevation" class="col-sm-2 col-form-label col-form-label-sm">Field Elevation: *</label>
        <div class="col-sm-2">
            <input asp-for="FieldElevation" class="form-control form-control-sm" maxlength="10" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>      

        <label asp-for="RunwayHeading" class="col-sm-2 col-form-label col-form-label-sm">Runway Heading: *</label>
        <div class="col-sm-2">
            <input asp-for="RunwayHeading" class="form-control form-control-sm" maxlength="10" C
            data-val-required="Runway Heading is required"/>
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">°M</label>              
    </div>

    <div class="form-group row g-3 align-items-center">       
       <label asp-for="RunwayLength" class="col-sm-2 col-form-label col-form-label-sm">Runway Length:</label>
        <div class="col-sm-2">
            <input asp-for="RunwayLength" class="form-control form-control-sm" maxlength="10" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>      
        <label asp-for="RunwaySurface" class="col-sm-2 col-form-label col-form-label-sm">Runway Surface: *</label>
        <div class="col-sm-2">
            <select asp-for="RunwaySurface" class="form-control form-control-sm" >
                <option value="Paved">Paved</option>          
            </select>
        </div>    
         
    </div>    
<br />
<h5>The weather</h5>
<br />
    <div class="form-group row g-3 align-items-center">
        <label asp-for="WindDirectionMagnetic" class="col-sm-2 col-form-label col-form-label-sm">Wind Direction: *</label>
        <div class="col-sm-2">
            <input asp-for="WindDirectionMagnetic" class="form-control form-control-sm" maxlength="3" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">°M</label>              
    
        <label asp-for="WindStrength" class="col-sm-2 col-form-label col-form-label-sm">Wind Strength: *</label>
        <div class="col-sm-2">
            <input asp-for="WindStrength" class="form-control form-control-sm" maxlength="3" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">kts</label>              
            
    </div>
    <div class="form-group row g-3 align-items-center">
        <label asp-for="Temperature" class="col-sm-2 col-form-label col-form-label-sm">Temperature: *</label>
        <div class="col-sm-2">
            <input asp-for="Temperature" class="form-control form-control-sm" maxlength="2" />
        </div>
        <div class="col-sm-1">
            <select style="width:auto;" asp-for="TemperatureType" class="form-control form-control-sm" >
                <option value="C">°C</option>
                <option value="F">°F</option>
            </select>            
        </div>             
        <label asp-for="AltimeterSetting" class="col-sm-2 col-form-label col-form-label-sm">Altimeter Setting: *</label>
        <div class="col-sm-2">
            <input asp-for="AltimeterSetting" class="form-control form-control-sm" maxlength="5" />
        </div>
        <div class="col-sm-1">
            <select style="width:auto;" asp-for="AltimeterSettingType" class="form-control form-control-sm" >
                <option value="MB">mb</option>
                <option value="HG">Hg</option>
            </select>
        </div>           
    </div>

    <br />

    <div class="form-group row g-3 align-items-center">
        <div class="col-sm-10">
            <button type="submit" style="width: 100%" class="btn btn-primary btn-md">Calculate Performance</button>
        </div>
    </div>

    <br />

    <h5>Takeoff information</h5>
    <br/>

    <div class="form-group row g-3 align-items-center">
        <label class="col-sm-2 col-form-label col-form-label-sm">Ground Roll:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Takeoff_GroundRoll, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>              
          
        <label class="col-sm-2 col-form-label col-form-label-sm">Runway Used:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Takeoff_PercentageRunwayUsed_GroundRoll, "{0:p0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">%</label>              


    </div>

    <div class="form-group row g-3 align-items-center">

        <label class="col-sm-2 col-form-label col-form-label-sm">50' Obstacle:</label>
            
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Takeoff_50FtClearance, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>              
    
        <label class="col-sm-2 col-form-label col-form-label-sm">Runway Used:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Takeoff_PercentageRunwayUsed_DistanceToClear50Ft, "{0:p0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">%</label>              

    </div>

    <br />
    <h5>Landing information</h5>
    <br />

    <div class="form-group row g-3 align-items-center">
        <label class="col-sm-2 col-form-label col-form-label-sm">Ground Roll:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Landing_GroundRoll, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>              
          
        <label class="col-sm-2 col-form-label col-form-label-sm">Runway Used:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Landing_PercentageRunwayUsed_GroundRoll, "{0:p0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">%</label>              


    </div>

    <div class="form-group row g-3 align-items-center">

        <label class="col-sm-2 col-form-label col-form-label-sm">50' Obstacle:</label>
            
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Landing_50FtClearance, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>              
    
        <label class="col-sm-2 col-form-label col-form-label-sm">Runway Used:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.Landing_PercentageRunwayUsed_DistanceToClear50Ft, "{0:p0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">%</label>              

    </div>

    <br />
    <h5>Additional information</h5>
    <br />

    <div class="form-group row g-3 align-items-center">

        <label class="col-sm-2 col-form-label col-form-label-sm">@Model.CrosswindComponentText Crosswind:</label>

        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.CrosswindComponentAbs, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">kts</label>              
      
        <label class="col-sm-2 col-form-label col-form-label-sm">@Model.HeadwindComponentText:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.HeadwindComponentAbs, "{0:0.00}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">kts</label>      
    </div>


    <div class="form-group row g-3 align-items-center">
        <label class="col-sm-2 col-form-label col-form-label-sm">Pressure Altitude:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.PressureAltitude, "{0:0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>            
            
        <label class="col-sm-2 col-form-label col-form-label-sm">Density Altitude:</label>
        <div class="col-sm-2">
            @Html.TextBoxFor(s => s.DensityAltitude, "{0:0}", new { @readonly="readonly", @class="form-control form-control-sm" })
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm">ft</label>            
    </div>

</form>

<br />