@using Airborn.web.Models
@model CalculatePageModel

@{
    ViewData["Title"] = "Free takeoff and landing distance calculator: C172, SR22, SR22T | Airborn.co";
}

<br />

<div class="jumbotron">
    <h1 class="display-4">Airborn is a free takeoff and landing distance calculator.</h1>
    <p class="lead">Tell us your about your flight, and we'll provide takeoff and landing distances and other useful
        information for
        each runway at your airport. These are calculated based on performance numbers from the airplane's flight
        manual.
    </p>
    <p>This is an open-source project, if
        you want to contribute check out <a href="https://github.com/alexjcampbell/Airborn">our Github</a>.</p>
    <hr class="my-4">
</div>

<form asp-action="Calculate" method="post" class="form-horizontal">

    <br />
    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {

        <div class="alert alert-warning" role="alert">
            <strong>Holy guacamole!</strong> It looks like you missed a few fields that we need to calculate your
            performance information.
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <br />
    }

    <div>
        <h6>The flight</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AirportIdentifier" class="form-control" autocomplete="off" id="AirportIdentifier"
                    placeholder="Airport Identifier" maxlength="4" />
                <label for="AirportIdentifier">Airport identifier (ICAO)</label>
                <span asp-validation-for="AirportIdentifier" class="text-danger"></span>
            </div>
        </div>

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('#AirportIdentifier').autocomplete({
                        source: '/Home/AutocompleteAirportIdentifier',
                        minLength: 2
                    });
                });
            </script>
        }
        <div class="col-sm-3">
            <div class="form-floating">

                <select asp-for="AircraftType" class="form-select">
                    <option value="SR22_G2">Cirrus SR22 G2</option>
                    <option value="SR22T_G5">Cirrus SR22T G5</option>
                    <option value="C172_SP">Cessna 172SP</option>
                </select>
                <label for="AircraftType">Aircraft type</label>
                <span asp-validation-for="AircraftType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="AircraftWeight" class="form-control" maxlength="4" placeholder="Aircraft weight" />
                <label for="AircraftWeight">Aircraft weight (lbs)</label>
                <span asp-validation-for="AircraftWeight" class="text-danger"></span>
            </div>
        </div>

    </div>

    <br />
    <div>
        <h6>The weather</h6>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindDirectionMagnetic" class="form-control" maxlength="3"
                    placeholder="Wind direction °M" />
                <label asp-for="WindDirectionMagnetic">Wind direction °M</label>
                <span asp-validation-for="WindDirectionMagnetic" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-floating">
                <input asp-for="WindStrength" class="form-control" placeholder="Wind strength (kts)" maxlength="3" />
                <label asp-for="WindStrength">Wind strength (kts)</label>
                <span asp-validation-for="WindStrength" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="Temperature" class="form-control" placeholder="Temperature" maxlength="3" />
                <label asp-for="Temperature">Temperature</label>
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="TemperatureType" class="form-control">
                    <option value="C">°C</option>
                    <option value="F">°F</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-floating">
                <input asp-for="AltimeterSetting" class="form-control" maxlength="5" placeholder="Altimeter setting" />
                <label asp-for="AltimeterSetting">Altimeter setting</label>
                <span asp-validation-for="AltimeterSetting" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-floating">
                <select style="width:auto;" asp-for="AltimeterSettingType" class="form-control">
                    <option value="HPA">hPa</option>
                    <option value="HG">Hg</option>
                </select>
            </div>
        </div>
    </div>

    <br />
    <hr class="my-4">

    <div class="form-group row">
        <div class="col-sm-3">
            <button type="submit" style="width: 100%" class="btn btn-primary btn-lg">Calculate Performance</button>
        </div>
        <div class="col-sm-9"></div>
    </div>
    <hr class="my-4">

    @if (Model is not null && Model.Results.Count > 0)
    {
        <div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <h5>@Model.Airport?.Name</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <span>Field elevation: @Model.Airport?.FieldElevation ft</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <span>Pressure altitude: @Model.PressureAltitude?.ToString("#,##") ft</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <span>
                            Density altitude: @Model.DensityAltitude?.ToString("#,##") ft
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br />
    }


    @if (Model.Notes != null && Model.Notes.Count != 0)
    {
        <div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <b>Notes</b>
                    <ul>

                        @foreach (string note in Model.Notes)
                        {
                            <li>
                                @note
                            </li>
                        }
                    </ul>
                    <br />
                </div>
            </div>
        </div>

    }

    @foreach (CalculationResultPageModel result in Model?.ResultsSortedByHeadwind)
    {
        <div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <h6>Runway @result.Runway.Runway_Name
                        @if (result.IsBestWind)
                        {
                            <span class="badge bg-success">(Best wind)</span>
                        }
                    </h6>
                </div>

            </div>

            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Runway.RunwayLengthFriendly" />
                        <label>Runway length</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Runway.Surface_Friendly_Output" />
                        <label>Runway surface</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Runway.RunwayHeadingMagneticConverted" />
                        <label>Runway heading</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.WindFormatted" />
                        <label>Wind</label>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Takeoff_Groundroll_Formatted" />
                        <label>Takeoff: Ground roll</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Takeoff_50FtClearance_Formatted" />
                        <label>Takeoff: 50' obstacle</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly value="@result.Landing_Groundroll_Formatted" />
                        <label>Landing: ground roll</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input class="form-control" maxlength="10" readonly
                            value="@result.Landing_50FtClearance_Formatted" />
                        <label>Landing: 50' obstacle</label>
                    </div>
                </div>
            </div>

        </div>
        <br />
    }

    <hr class="my-4">



</form>

<br />